/** foo bar */
.parent {
    & .child {
        color: red;
    }

    &--mod,
    &--alt {
        color: yellow;
    }

    /* hover */
    &--mod:hover {
        color: green;
    }

    /* foo bar */
    /**
     * things on the first line
     * things on the second line
     * things on the third line
     * things on the fourth line
     */
    &--mod {
        &--addon {
            color: lightgreen;
        }
    }
}
